{% extends 'base.html' %}
{% block content %}
    {% for movie in movies %}
        <div>
            {{movie.id}}
            {{movie.title}}
            {{movie.budget}}
            {{movie.genres}}
            <a href = "/movies/{{movie.id}}">Go to detail</a>
            <a href = "/update_movie/{{movie.id}}">Update</a>
            <!-- <a href = "/delete_movie/{{movie.id}}">Delete</a> -->
        </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if movies.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ movies.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
            </span>
    
            {% if movies.has_next %}
                <a href="?page={{ movies.next_page_number }}">next</a>
                <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}